

    <h1>About</h1>
    <p>
      Gujarat Technological University (GTU) Ahmedabad started masters in engineering programme in year 2011 in two specific fields of Computer Engineering 	as following:
	<ol>      
	<li>I.T. Systems and Network Security and</li>
	<li>Wireless Mobile Computing </li>
	</ol> 
	This portal will help students to get informed to events , rules and is developed for open discussion.

<br/><br/>
<i>This application is a result of Michael Hartl`s tutorials from http://www.ruby.railstutorials.org</i>
    </p>

	



