<footer class="footer">
  <small>
    <a href="http://neelpathak.wordpress.com">DevBlogs</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.facebook.com/neel.h.pathak">Going social with facebook</a></li>
    </ul>
  </nav>
</footer>
